<nav class="sidebar">
<div class="logo">
    <a [routerLink]="'main'">
        <img src="../../../../assets/image/logo.webp" alt="Logo" width="890">
    </a>
</div>

<div class="navigation">
    <ul class="list-unstyled">
        <li [routerLink]="'main'" routerLink="active">
            <a >Main</a>
        </li>
        <li [routerLink]="'country'" routerLink="active">
            <a>Country</a>
        </li>
        <li [routerLink]="'live'" routerLink="active">
            <a>Live</a>
        </li>
    </ul>

</div>
</nav>